<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="">

    <ion-item lines="full">
      <ion-label position="floating"> Email </ion-label>
      <ion-input type="email" required #email></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button color="secondary" type="submit" (click)="recovery(email)" expand="block"> Recuperar </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
